
<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
   <span class="navbar-brand mb-0 h1 text-center mx-auto text-success"><h2>{{title}}</h2></span>
  </div>
</nav>
<br>



<div class="input-group mb-3 w-75 p-3 mx-auto">
  <span class="input-group-text" id="basic-addon1">Add Task Here :</span>
  <input type="text" class="form-control w-25 p-3" width=100px placeholder="Todos-" aria-label="Username" type="text" #task aria-describedby="basic-addon1">
  <button type="button" class="btn btn-success " (click)="addtask(task.value)">Add Task</button>
  <button type="button" class="btn btn-warning "  (click)="deleteAll()">Delete All Tasks</button>
</div>

<ul class="list-group " *ngFor="let item of list">
  <li class="list-group-item w-50 p-3 mx-auto my-2" >
    {{list.indexOf(item)+1}}{{". "}}{{item.name}}
      <button (click)="removeItem(item)" type="button" class="btn btn-danger btn-space mx-2 " >Delete</button>
      <button (click)="uper(item)" type="button" class="btn btn-warning mx-2" >Up</button>
      <button (click)="down(item)" type="button" class="btn btn-warning mx-2" >Down</button>
  </li>

</ul>
